.env
backend/bin/
backend/lib/
backend/include/
backend/lib64/
backend/pycache/
backend/src/__pycache__/
backend/src/routers/__pycache__/
backend/share/
backend/var/
backend/venv/
backend/.env
frontend/.dart_tool/
frontend/.idea/
frontend/.vscode/
frontend/build/
frontend/web/
frontend/linux/
frontend/windows/
frontend/macos/
frontend/ios/
frontend/android/
frontend/.env

