.env

backend/bin/
backend/lib/
backend/include/
backend/lib64/
backend/__pycache__/
backend/pycache/
backend/lib64
backend/src/__pycache__/
backend/src/routers/__pycache__/
backend/share/
backend/var/
backend/venv/
backend/pyenv.cfg
backend/.env
backend/.pytest_cache
backend/tests/__pycache__/

frontend/.dart_tool/
frontend/.idea/
frontend/.vscode/
frontend/build/
frontend/web/
frontend/linux/
frontend/windows/
frontend/macos/
frontend/ios/
frontend/android/
frontend/.env

.idea
.DS_Store
