requests
uvicorn
gunicorn
fastapi
strawberry-graphql[fastapi]
psycopg2-binary
SQLAlchemy
python-dotenv
pydantic
pydantic[email]
passlib[bcrypt]
bcrypt
Pillow
PyJWT
python-multipart
minio
aiodataloader
pytest
pytest-asyncio
pytest-ordering
faker
tqdm
python-socketio[asyncio]
aioredis
